/.project
/docker/*
/assembly/target/*
/libs/target/*
/logs/*
/assembly/.project
/assembly/.settings/org.eclipse.m2e.core.prefs
/build/.project
/build/.settings/org.eclipse.m2e.core.prefs
**/*/*.prefs

archiver-services/archiver-services-parser/src/test/resources/parser/data
batch-archiver-core/src/test/resources/data
batch-archiver-import-slave/src/test/resources/data
batch-master-admin/src/main/webapp
sql/
libs/

.idea
*.iml

/certs
local/mailserver/mail-data
local/email-archiver

